.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    margin: 0 auto;
  
    .titulo-vantagens{
      margin-top: 2rem;
      margin-left: 1rem;
      font-size: 1.5rem;
    }

    .vantagens{
      width: 100%;
      display: flex;   
      background-color: #ceecf4;
      justify-content: space-evenly;
      border-radius: 2rem;
      margin: 0;
      padding: 2rem;
    }
      .celular-container {
        display: flex; 
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: center; 
       
      
        .image-celular {
          img {
            width: 181px;
            height: 365px;
          }
        }
      
        .content {
          display: flex;
          flex-direction: column; 
          align-items: flex-start; 
          flex: 1; 
          max-width: 200px; 
          padding: 1rem; 
          gap: 1rem;
          margin-top: 2rem;


          .title {
            font-size: 1.5rem;
            font-weight: bold;
          }
      
          .text {
            font-size: 1rem;
          }

          .number{
            font-size: 2rem;
          }
        }
      }
    
    
  
    .hero-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 3rem;
  
      .logo-name {
  
        h1 {
          font-size: 3em;
          margin-left: 7%;
          margin-right: 3rem;
        }
  
        p {
          font-weight: bold;
          font-size: 1.25em;
          margin-left: auto;
          margin-right: 0; 
          max-width: calc(100% - 4rem);
          background-color: #ceecf4;
          border-radius: 10px;
          padding: 1rem;
        }
      }
  
      .image-container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
          'imagem imagem'
          'automed texto'
          'botao botao';
        gap: 2rem; 
        
        
        div.imagem {
          grid-area: imagem;

          img {
            width: 100%; 
            height: auto;
            object-fit: cover; 
            border-radius: 2rem;
          }
          
        }
      
        div.automed {
          grid-area: automed;
          font-size: 2rem;
        }
      
        div.texto {
          grid-area: texto;
          background-color: #ceecf4;
          padding: 1rem;
          border-radius: 1rem;
          font-size: 1.5rem;
          font-family: 'Raleway', sans-serif;
        }
      
        div.botao {
          grid-area: botao;
          justify-self: end; 
          width: fit-content; 
        
          @keyframes shake {
            0%, 100% {
              transform: translateX(0);
            }
            10%, 30%, 50%, 70%, 90% {
              transform: translateX(-1px);
            }
            20%, 40%, 60%, 80% {
              transform: translateX(1px);
            }
          }
          
          button {
            padding: 10px 20px;
            background-color: #ceecf4; 
            color: #333; 
            border: none; 
            border-radius: 0.5rem; 
            font-family: 'Lato', sans-serif; 
            font-size: 1em; 
            cursor: pointer; 
            transition: background-color 0.3s; 
            outline: none; 
            box-shadow: none; 
            &:hover {
              background-color: darken(#ceecf4, 10%); 
              animation: shake 0.5s; 
              box-shadow: 0 0 0 2px lighten(#ceecf4, 20%); 
            }
            &:focus {
              box-shadow: 0 0 0 2px lighten(#ceecf4, 20%); 
            }
          }
          
        }
        
      }
      
      .text-container {
        padding: 0 1rem;
        background-color: #ceecf4;
        border-radius: 2rem;
        margin-left: 2rem;
  
        .solution-section,
        .function-section,
        .work-section,
        .more-info-section {
          margin-top: 2rem;
          padding: 0.5rem;
          width: 90%;
          &:not(:last-child) {
            border-bottom: 3px solid #a0c4ff; 
          }
          
          h1 {
            font-size: 2em;
          }
  
          p {
            font-size: 1.25em;
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    .home-container {
      flex-direction: row;
      flex-wrap: wrap;
      .hero-section {
        .logo-name, .text-container {
          flex-direction: column;
          margin: 0;
        }
  
        .image-container {
          flex-basis: 58.33%;
          display: flex;
          flex-direction: column;
        }

          div.automed{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
          }

          div.botao {
            display: flex;
            grid-area: botao;
            align-items: center;
            justify-content: center;
        }
      }

      .celular-container{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .vantagens {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ceecf4;
        border-radius: 2rem;
        margin: 0;
      }
  
      .hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
    }
  }
  }
  
  @media (max-width: 1104px) {
    .home-container {
      flex-direction: row;
      flex-wrap: wrap;
      .hero-section {
        .logo-name, .text-container {
          flex-direction: column;
          margin: 0;
        }
  
        .image-container {
          flex-basis: 58.33%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

          div.automed{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
          }

          div.botao {
            display: flex;
            grid-area: botao;
            align-items: center;
            justify-content: center;
        }
      }
  
      .vantagens {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ceecf4;
        border-radius: 2rem;
        margin: 0;
      }
  
      .hero-section {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
    }
  }
  }

@media (min-width: 1105px) {
  .home-container {
    flex-direction: row;
    flex-wrap: wrap;
    .hero-section {
      .logo-name, .text-container {
        width: 41.67%;
      }

      .image-container {
        flex-basis: 58.33%;
      }
    }

    div.automed {
      grid-area: automed;
      margin-top: 2rem;
      margin-left: 25%;
      font-size: 2rem;
    }

    .vantagens {
      width: 100%;
      display: flex;
      background-color: #ceecf4;
      border-radius: 2rem;
      margin: 0;
    }

    .hero-section {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
  }
}
}
  
  